#state-information {
	color: hotpink;
	font-size: 20px;
	font-weight: bold;
	border: 1px black dotted;	
	padding: 20px;
}

.main {
	border: 1px black dotted;
	margin-bottom: 10px;
	display: flex;
}	

.visual {
	margin: 10px;
	width: 700px;
	padding-right: 10px;
	border-right: 1px black solid;
}

.cy {
	border: 1px black dotted;
	z-index: 999;
	background-color: linen;
	height: 620px;
}

.matrix {
	margin: 10px;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

.all-paths {
	display: none;
	margin-top: 20px;
	margin-bottom: 20px;
}

.dijkstra-paths {
	margin-right: 20px;
}

.title {
	margin-bottom: 5px;
}

.paths-table-wrapper {
	border: 1px dotted black;
	padding: 5px;
	max-height: 300px;
	overflow-y: auto;
}